
body {
  margin: 0;
  min-width: calc(100%-20px);
  min-height: 100vh;

}

.left-section {
  width: 10%;
  height:100vh;
  float: left;
  z-index: 1;
  position: relative;
 
}

.instructions {
  width: 100%;
  height: 5rem;
  background: rgb(81, 81, 122);
  display: flex;
  justify-content: center;
  align-items: Center;
  text-align: center;
  color: rgb(241, 241, 255);
  font-size: 1.4rem;
}

.buttons-div {

  
  width: 100%;
  height: 100%;
  
 
  margin-right: 0;
  /* height: 800px; */
  float: left;
  display:  grid;
  grid-template-columns: 100%;
  grid-template-rows: 60vh 60vh;
  /* flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; */
  background: rgb(241, 241, 255);
}

.el-one {
  background: url("https://media1.giphy.com/media/1zgzK9wg3xvKeoFUX8/giphy.webp?cid=790b76115cfdc03d424b593745291105&rid=giphy.webp");
  background-position: top center;
  grid-column-start: 1;
  grid-column-end:span 1;
  grid-row-start: 1;
  grid-row-end:span 1;
  opacity: .5;
  z-index: 1;
}

.el-two {
  background: url("https://media1.giphy.com/media/L5ALYguzXR5rW/giphy.webp?cid=790b76115cfdc3f95051495a7353217f&rid=giphy.webp");
  background-position:center;
  opacity: .5;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end:span 1;
  z-index: 1;
}

#el-three {
  margin-top: 5rem;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end:span 2;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.gif-button {
  margin-top: .35rem;
  
  padding: .35rem .65rem;
  border-radius: 1rem;
  font-family: 'Poppins', sans-serif;
  background: rgb(241, 241, 255);
  color: rgb(81, 81, 122);
  font-weight: 800;
  border: none;
  text-decoration: none;

  /* border: 1.5px solid rgb(81, 81, 122); */
}


@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out {
  100% {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    opacity: 0;
  }
}

.hvr-ripple-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  /* transform: perspective(1px) translateZ(0); */
  box-shadow: 0 0 1px rgba(73, 46, 228, 0);
  position: relative;
 
  
}
.hvr-ripple-out:before {
  content: '';
  position: absolute;
  
  border: rgb(81, 81, 122) solid 1.5px;
  border-radius: 1rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
}
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
  
}
.gif-button:focus {
  outline: none;
  box-shadow:0 0 3pt 2pt rgb(81, 81, 122);
  
}

.gif-div {
  width: 90%;
  height:700px;
  float:right;
}

.button-add {
  font-family: 'Poppins', sans-serif;
  color:  rgb(81, 81, 122);
  background: rgb(241, 241, 255);
  font-size: 1.75rem;
  width: 100%;
  height: 5rem;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-input{
  color: rgb(155, 155, 226);
  height: 1.5rem;
  border: 1.5px solid rgb(81, 81, 122);
  padding: 0 10px;
}

.form-button {
  
  margin-bottom: .75rem;
  padding: .35rem .65rem;
  border-radius: 1rem;
  font-family: 'Poppins', sans-serif;
  background: rgb(81, 81, 122);

  color: rgb(241, 241, 255);
  font-weight: 800;
  border: none;
  text-decoration: none;
  /* border: 1.5px solid rgb(81, 81, 122); */
  transition: .3s linear;
}

.form-button:focus {
  outline: none;
  box-shadow:0 0 3pt 2pt rgb(81, 81, 122);
}

#trash-bin {
  width: 100%;
  height: 13%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  background-image: url("../images/trash-bin.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.image-container {
  width:100vw;
  height: 100%;
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  grid-template-rows: 25vh 25vh 25vh 25vh;
 
  
}

.gif {
  height: 100px;
  width: 150px;
}

.image-box {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  height: 125px;
  border: 1px solid rgb(238, 238, 238);
}

.image-stats{
  text-align: center;
  height: 20px;
}